<h1>Formulario de cadastro</h1>
<form action="/node-mongodb-mongoose-user" method="post">
    <input type="text" name="emailBody">
    <button type="submit">Enviar</button>
</form>
<h1>Dados de User recuperados</h1>
{{ firstNameV }}
{{ lastNameV }}
{{ passwordV }}
{{ emailV }}
{{ messagesV }}